@media only screen and (max-width:600px){
    .icon{
    
   
        
      height: 40px;
      width: 60px;
    }
    .kabi{
        visibility: hidden;
    }
   
   #budh{
    margin-left: -530px;
   }
   #user{
    margin-left: -550px;
   }
    .master{
        visibility: hidden;
    }
    .dia{
        visibility: hidden;
    }
    #spot{
        float:left;
        margin-left: -530px;
        width:100px;
    }
   
}

@media only screen and (max-width:500px){
    .icon{
    
   
        
      height: 40px;
      width: 60px;
    }
    .kabi{
        visibility: hidden;
    }
   
    #budh{
        margin-left: -640px;
       }
       #user{
        margin-left: -670px;
       }
        .master{
            visibility: hidden;
        }
    .dia{
        visibility: hidden;
    }
    #spot{
        float:left;
        margin-left: -660px;
        width:90px;
    }
}