@media  only screen and (max-width: 600px){
    
  .menu{
    width:100%;
  }
  .kabi{
        display:none;
      
    }
    .icon{
        width: 50px;
    }
  .navbar{
    width: 100%;
   
  }
  .force{
    font-size: 10px;
  }
}
@media  only screen and (min-width: 600px){
  .kabi{
    font-size: 1px;
  
}
.menu{
  width:100%;
}

}
